<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='detail_style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <!-- <script src="{{ url_for('static', filename='scripts.js') }}"></script> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script>
        function getImageUrl(slicing_url) {
            return `https://i.ytimg.com/vi/${slicing_url}/sddefault.jpg`;
        }

        // 로딩 후, 즉시 실행 부분 listing function 호출
        $(document).ready(function () {
            bsCustomFileInput.init();
            listing();
        })

        // 로딩시 호출(화면에 내용 뿌려줌)
        function listing() {
            let section_data = { "section_give": "{{section}}" };

            $.ajax({
                type: "GET",
                url: "/detail",
                dataType: "json",
                data: section_data,
                success: function (response) {
                    let details = response["all_detail"];
                    for (let i = 0; i < 10; i++) {
                        const title = details[i]['title'];
                        const count = details[i]['count'];
                        const creator = details[i]['creator']
                        const content_url = details[i]['content_url'];
                        const desc = details[i]['desc'];
                        const comments = details[i]['comment'];
                        const image_url = getImageUrl(content_url.substring(9, content_url.length));

                        // comment 내용 가져옴
                        let commentBox = '';
                        for (let j = 0; j < comments.length; j++) {
                            const comment = comments[j]['comment'];
                            const username = comments[j]['username'];
                            // 로그인한 당사자인 경우 삭제, 편집 기능을 부여
                            if (username == "{{user_info.username}}") {
                                commentBox += `
                                <p class="card-text">
                                    <span id="comment-username${i}${j}">${username} : </span>
                                    <span id="comment-tag${i}${j}">${comment}</span>
                                    <button id="delete-btn${i}${j}" onclick="deleteComment(${i}, ${j})" type="button" class="btn btn-link">삭제</button>
                                    <button id="edit-btn${i}${j}"  onclick="editComment(${i}, ${j})" type="button" class="btn btn-link">편집</button>
                                </p>
                                `
                            }
                            else {
                                commentBox += `
                                <p class="card-text"><span id="comment-username${i}${j}">${username} : </span>${comment}</p>`
                            }
                        }
                        let temp_html = `
                        <div class="empty-box"></div>
                        <div class="cards-box" id="cards-box">
                            <div class="image-box">
                                <img id="img-tag${i}" class="img-fluid rounded-start" alt="..."src="${image_url}" onError="this.src='/static/file-2021-09-16-00-13-15.jpg';" />
                            </div>
                            <div class="middle-all">
                                <div class="middle-box">
                                    <div class="card-body">
                                        <h5 id="title-tag${i}" class="card-title">${title}</h5>
                                        <p class="card-text">${desc}</p>
                                        <p class="card-text">${creator} / ${count}</p>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <a href="https://www.youtube.com/${content_url}" class="btn btn-primary">영상 바로가기</a>
                                </div>
                             </div>
                            <div class="comment-box">
                                <div class="inner-container">
                                    <div class="inner-comment-box">
                                        ${commentBox}
                                    </div>
                                    <div class="inner-input-box">
                                        <div class="input-group mb-3">
                                            <input type="text" id="comment${i}" class="form-control" placeholder="내용을 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button onclick="addComment(${i})" class="btn btn-primary" type="button" id="button-addon2">댓글 달기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            `

                        $('#container').append(temp_html);

                    }
                }

            })
        }

        function modifyComment(i, j) {
            let title = $(`#title-tag${i}`).text();
            let content = $(`#edit-input-box${i}${j}`).val();

            let form_data = new FormData();
            form_data.append("section_give", "{{section}}");
            form_data.append("title_give", title);
            form_data.append("idx_give", j);
            form_data.append("content_give", content);

            $.ajax({
                type: "POST",
                url: "/detail_page/{{user_info.username}}/modify_comment",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload();
                }
            });
        }


        // comment 수정하지 않고 취소하기
        function cancelComment(i, j) {

            $(`#comment-username${i}${j}`).show();
            //input태그를 다시 span태그로 돌려놓기
            $(`#edit-input-box${i}${j}`).contents().unwrap().wrap(`<span id="comment-tag${i}${j}"></span>`);


            //confirm 버튼을 delete 버튼으로 변경
            $(`#confirm-btn${i}${j}`).contents().unwrap().wrap(`<button id="delete-btn${i}${j}" onclick="deleteComment(${i}, ${j})" type="button" class="btn btn-link"></button>`);
            $(`#delete-btn${i}${j}`).text('delete');

            //back-btn을 edit-btn으로 변경
            $(`#back-btn${i}${j}`).contents().unwrap().wrap(`<button id="edit-btn${i}${j}" onclick="editComment(${i}, ${j})" type="button" class="btn btn-link"></button>`);
            $(`#edit-btn${i}${j}`).text('edit');
        }
        function editComment(i, j) {


            // 편집 전 댓글 저장해둠.
            const before_comment = $(`#comment-tag${i}${j}`).text()

            // input창으로 변경
            $(`#comment-tag${i}${j}`).contents().unwrap().wrap(`<input id="edit-input-box${i}${j}" value="${before_comment}"/>`);
            $(`#comment-username${i}${j}`).hide();
            $(`#edit-input-box${i}${j}`).focus();

            // delete-btn => confirm-btn
            $(`#delete-btn${i}${j}`).contents().unwrap().wrap(`<button id="confirm-btn${i}${j}" onclick="modifyComment(${i}, ${j})" type="button" class="btn btn-link"></button>`);
            $(`#confirm-btn${i}${j}`).text('confirm');

            // edit-btn => back-btn
            $(`#edit-btn${i}${j}`).contents().unwrap().wrap(`<button id="back-btn${i}${j}" onclick="cancelComment(${i},${j})" type="button" class="btn btn-link"></button>`);
            $(`#back-btn${i}${j}`).text('back');

        }
        //
        function addComment(idx) {
            let comment = $(`#comment${idx}`).val()
            let title = $(`#title-tag${idx}`).text();

            let form_data = new FormData();
            form_data.append("section_give", "{{section}}");
            form_data.append("title_give", title);
            form_data.append("comment_give", comment);

            $.ajax({
                type: "POST",
                url: "/detail_page/{{user_info.username}}/add_comment",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload();
                }
            });
        }
        // delete Comment Function
        function deleteComment(i, j) {
            console.log("enter delete");
            let title = $(`#title-tag${i}`).text();


            let form_data = new FormData();
            form_data.append("section_give", "{{section}}");
            form_data.append("title_give", title);
            form_data.append("idx_give", j);

            $.ajax({
                type: "POST",
                url: "/detail_page/{{user_info.username}}/delete_comment",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload();
                }
            });

        }
    </script>
</head>

<body>
    <div class="wrap">
        <!-- header / nav -->
        <header class="header">
            <div class="header-logo">
                <a href="/">
                    <h1>DEUKGEUN</h1>
                </a>
            </div>
            <div class="header-gnb">
                <ul>
                    <li><a href="/detail_page/{{user_info.username}}/chest">가슴(chest)</a></li>
                    <li><a href="/detail_page/{{user_info.username}}/back">등(back)</a></li>
                    <li><a href="/detail_page/{{user_info.username}}/obtuse">대둔근(obtuse)</a></li>
                    <li><a href="/detail_page/{{user_info.username}}/arm">팔(arm)</a></li>
                    <li><a href="/detail_page/{{user_info.username}}/abs">복근(abs)</a></li>
                    <li><a href="/detail_page/{{user_info.username}}/leg">하체(leg)</a></li>
                </ul>
            </div>
        </header>
        <!-- profile -->
        <section class="hero is-white">
            <div class="hero-body" style="padding-bottom:1rem;margin:auto;min-width: 400px">
                <article class="media">
                    <figure class="media-left" style="align-self: center">
                        <a class="image is-96x96" href="/">
                            <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                        </a>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ user_info.nickname }}</strong> <small>@{{ user_info.username }}</small>
                                <br>
                                {{ user_info.introduce }}
                            </p>
                        </div>
                    </div>
                </article>
                <!-- when you click the profile modification -->
                <div class="nav-box">
                    <nav id="btn-me" class="level is-mobile" style="margin-top: 3rem">
                        <a class="button level-item has-text-centered is-sparta" aria-label="edit"
                            onclick='$("#modal-edit").addClass("is-active")'>
                            프로필 수정&nbsp;&nbsp;&nbsp;<span class="icon is-small">
                                <i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </a>
                        <a class="button level-item has-text-centered is-sparta is-outlined" aria-label="logout"
                            onclick="sign_out()">
                            로그아웃&nbsp;&nbsp;&nbsp;
                            <span class="icon is-small">
                                <i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        </a>
                    </nav>
                </div>
                <!-- end -->
            </div>

        </section>
        <!--  -->
        <div class="modal" id="modal-edit">
            <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <label class="label" for="input-name">이름</label>

                                <p class="control">

                                    <input id="input-name" class="input" placeholder="홍길동"
                                        value="{{ user_info.nickname }}">
                                </p>
                            </div>
                            <div class="field">
                                <label class="label" for="input-pic">프로필 사진</label>

                                <div class="control is-expanded">
                                    <div class="file has-name">
                                        <label class="file-label" style="width:100%">
                                            <input id="input-pic" class="file-input" type="file" name="resume">
                                            <span class="file-cta"><span class="file-icon"><i
                                                        class="fa fa-upload"></i></span>
                                                <span class="file-label">파일 선택</span>
                                            </span>
                                            <span id="file-name" class="file-name" style="width:100%;max-width:100%">{{
                                                user_info.profile_pic }}</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="textarea-about">나는 누구?</label>

                                <p class="control">

                                    <textarea id="textarea-about" class="textarea"
                                        placeholder="자기소개하기">{{ user_info.introduce }}</textarea>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">

                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button is-sparta" onclick="update_profile()">업데이트</a>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-sparta is-outlined"
                                            onclick='$("#modal-edit").removeClass("is-active")'>취소</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                onclick='$("#modal-edit").removeClass("is-active")'></button>
        </div>
        <!-- add card! -->
        <div id="container">
        </div>
    </div>
</body>

</html>