<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>메인</title>
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <a href="/">
                <h1>DEUKGEUN</h1>
            </a>
        </div>
        </a>
        </div>

        <div class="header-gnb">
            <ul>
                <li><a href="/detail_page/{{user_info.username}}/chest">가슴(chest)</a></li>
                <li><a href="/detail_page/{{user_info.username}}/back">등(back)</a></li>
                <li><a href="/detail_page/{{user_info.username}}/obtuse">대둔근(obtuse)</a></li>
                <li><a href="/detail_page/{{user_info.username}}/arm">팔(arm)</a></li>
                <li><a href="/detail_page/{{user_info.username}}/abs">복근(abs)</a></li>
                <li><a href="/detail_page/{{user_info.username}}/leg">하체(leg)</a></li>
                {% if status %}
                <li><a href="/login">로그인</a></li>
                <li><a href="/member">회원가입</a></li>
                {% endif %}
            </ul>
        </div>
    </header>


    <section class="hero is-white" id="hero-body">
        <div class="hero-body" style="padding-bottom:2rem;margin:auto;min-width: 400px;min-height: 70px">
            <article class="media">

                <figure class="media-left" style="align-self: center">
                    <a class="image is-96x96" href="/">
                        <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
                    </a>
                </figure>

                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ user_info.nickname }}</strong> <small>@{{ user_info.username }}</small>
                            <br>
                            {{ user_info.introduce }}
                        </p>
                    </div>
                </div>
            </article>


            <div class="nav-box">
                <nav id="btn-me" class="level is-mobile" style="margin-top: 3rem">
                    <a class="button level-item has-text-centered is-sparta" aria-label="edit"
                        onclick='$("#modal-edit").addClass("is-active")'>
                        사진 업데이트&nbsp;&nbsp;&nbsp;<span class="icon is-small">
                            <i class="fa fa-pencil" aria-hidden="true"></i></span>
                    </a>
                    <a class="button level-item has-text-centered is-sparta is-outlined" aria-label="logout"
                        onclick="sign_out()">
                        로그아웃&nbsp;&nbsp;&nbsp;
                        <span class="icon is-small">
                            <i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    </a>
                </nav>
            </div>
        </div>




    </section>



    <div class="modal" id="modal-edit">
        <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="field">
                            <label class="label" for="input-name">이름</label>

                            <p class="control">

                                <input id="input-name" class="input" placeholder="홍길동" value="{{ user_info.nickname }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label" for="input-pic">프로필 사진</label>

                            <div class="control is-expanded">
                                <div class="file has-name">
                                    <label class="file-label" style="width:100%">
                                        <input id="input-pic" class="file-input" type="file" name="resume">
                                        <span class="file-cta"><span class="file-icon"><i
                                                    class="fa fa-upload"></i></span>
                                            <span class="file-label">파일 선택</span>
                                        </span>
                                        <span id="file-name" class="file-name" style="width:100%;max-width:100%">{{
                                            user_info.profile_pic }}</span>
                                    </label>
                                </div>

                            </div>
                        </div>


                        <nav class="level is-mobile">
                            <div class="level-left">

                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a class="button is-sparta" onclick="update_profile()">업데이트</a>
                                </div>
                                <div class="level-item">
                                    <a class="button is-sparta is-outlined"
                                        onclick='$("#modal-edit").removeClass("is-active")'>취소</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-edit").removeClass("is-active")'></button>
    </div>



    <div class="control" id="input-today">
        <input class="input is-focused input is-rounded" type="text" placeholder="실시간 운동 피드" id="dayPost">
    </div>





    <div class="box has-text-centered" id="input-save">
        <button class="button is-link is-rounded" onclick="checkDay()">SAVE</button>
    </div>


    <div class="box" id="posting-box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong></strong><small></small> <small></small>
                        <br>

                    </p>
                </div>
            </div>
        </article>
    </div>


    <script>

        $(document).ready(function () {
            join()
        })

        function checkDay() {
            let comment = $("#dayPost").val()
            let today = new Date().toISOString()
            $.ajax({
                type: "POST",
                url: "/posting",
                data: {
                    comment_give: comment,
                    date_give: today
                },
                success: function (response) {
                    window.location.reload()
                }
            })
        }

        function join() {
            $.ajax({
                type: "GET",
                url: "/join",
                data: {},
                success: function (response) {
                    let joins = response['all_details']

                    for (let i = 0; i < joins.length; i++) {
                        let title = joins[i]['profile_name']
                        let comment = joins[i]['comment']
                        let profile = joins[i]['profile_pic_real']
                        let time_post = new Date(joins[i]['date'])
                        let time_before = time2str(time_post)

                        let temp_html = `

<article class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>${joins[i]['profile_name']}</strong> <small></small> <small>${time_before}</small>
                        <br>
                        ${joins[i]['comment']}
                    </p>
                </div>
            </div>
        </article>`


                        $('#posting-box').append(temp_html)


                    }
                }
            })
        }

    </script>

</body>

</html>