@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;

}



.header {
    height: 185px;
    text-align: center;
    border-bottom: 1px solid #999;
    box-sizing: border-box;

}

.header-logo h1 {
    font: bold 30px 'arial';
    padding-top: 0px;
    letter-spacing: 1px;
    margin-top: 0px;
    color: black;
}

.header-logo p {
    font: bold 12px 'arial';
    letter-spacing: 2px;
}

.header-gnb ul {
    margin-top: 30px;
}

.header-gnb ul li {
    display: inline-block;
    color: red;
}

.header-gnb ul li a {
    display: block;
    font: bold 16px 'arial';
    color: #999;
    margin: 2px 30px;
    letter-spacing: 1px;
}

.board2 {
    margin: auto;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #166cea;
}

.joins {
    margin-top: 25px;
}



